.form {
  display: block;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.attribute {
  display: block;
  margin-bottom: 10px;
  padding-bottom: 0;
}

.attribute:last-child {
  margin-bottom: 10px;
}
